      <div class="container">   
	  <hr class="soften">
        <ul class="footer-links">
          <li>&copy; {{ current_date format="Y" }} <a href="{{ _site_url }}">{{ _site_name }}</a></li>
          <li class="muted">&middot;</li>
          <li>Powered by <a href="http://higrid.net">HiGrid.net</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/higrid/higridcms/issues?state=open">有问题？</a></li>
        </ul>
      </div>
<!-- scripts -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>