{% extends 'higridbasic.html' %}

{% block authorship %}<link rel="author" href="https://plus.google.com/113143132189657592889">{% endblock %}

{% block page_title %}{{ post.title }} _powered by http://higrid.net{% endblock %}

{% block page_content %}

<div id="newtoptitle">
<h1>{{ post.title }}</h1>
</div>

<div class="post-info">
<span class="label">Date</span>
<span class="post-date">
<abbr class="published" title="{{ post.date }}"><i class="icon-calendar"></i>
{{ post.date }}
</abbr>
  </span>



<span class="label">Tags</span> 
  <span class="post-tags"> 
			{% if post.tags|length > 0 %}
				{% for tag in post.tags %}
					<a href="{{ higridpath }}blog/tag/{{ tag }}">#{{ tag }}</a>{% if not loop.last %},{% endif %}
				{% endfor %}
			{% endif %}
  </span>
</div>



      <span>{{ post.date }}</span>


  {{ post.html|raw }}





{% endblock %}
